{% extends "portal/_base.htm.j2" %}
{% block page_settings %}
{% set active_menu = 'documents'%}
{% endblock %}




{% block mainContent %}
<div class="container-fluid heightMinus50">
    <div class="row height100">
        {% block sidebar %}
            <div class="col-sm-1 col-md-1 sidebar">
                <ul class="nav nav-sidebar">
                    <li ><a href="{{ url_for('typesystem.list_typesystem', project_id=g.project.id) }}">Type System</a></li>
                    <li ><a href="#">Dictionaries</a></li>
                    <li><a href="{{ url_for('documents.documents_list', project_id=g.project.id) }}">Documents</a></li>
                    <li><a href="{{ url_for('annotation.annotation_main', project_id=g.project.id) }}">Human Annotation</a></li>
                    <li><a href="{{ url_for('annotation.ml_annotator', project_id=g.project.id) }}">MachineLearning Annotator</a></li>
                </ul>
            </div>
        {% endblock %}
        {% block workArea %}
        {% endblock %}
    </div>
</div>
{% endblock %}