yarn.lock
Django
logs/
upload_files/
skeletons/uploaded_files
*.pyc
*.orig
*.swp
MANIFEST
nohup.out
config_local.py
.DS_Store
ercc/static/
.env
.idea
.project
.pydevproject
.settings/
.cache/
.coverage
tests/.cache/
.tox/
tests/.cache/
custom_manage.py
celeryd.pid
dump.rdb
ercc/static_new/bower_components/
node_modules/
config_test_local.py
.ipynb_checkpoints/
list_api.moin
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
build/
dist/
ercc.egg-info/
~$*
celerybeat-schedule
erks/erks_bps/neuroner/data
erks/erks_bps/neuroner/output
erks/erks_bps/neuroner/trained_models
