<div>
    <div class="form-group">
        <div class="row placeholder">
            <button type="button" class="btn btn-primary pull-right entityPropertyBtnApply">Apply</button>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Logical Name</span>
            <input type="text" class="form-control entityPropertyLogicalName" placeholder="Optional">
            <span class="input-group-addon">Name</span>
            <input type="text" class="form-control entityPropertyName">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Definition</span>
            <input type="text" class="form-control entityPropertyDef" placeholder="Optional">

        </div>
    </div>



    <table style="width:100%">
        <tr>
            <td style="vertical-align: text-top;">
                <div>Roles</div>
                <div class="form-group">
                    <div class="input-group" style="width:100%">
                        <input type="text" class="form-control entityPropertyRoleInput">

                        <span class="input-group-addon"><div class="glyphicon glyphicon-triangle-bottom entityPropertyShowAllRoles"></div></span>
                        <span class="input-group-addon entityPropertyAddRole">Add</span>
                    </div>
                    <ul class="list-group entityPropertyRolesAddList">

                    </ul>

                    <ul class="list-group entityPropertyRolesList">

                    </ul>
                </div>
            </td>
            <td style="vertical-align: text-top;">
                <div>Subtypes</div>
                <div class="form-group">
                    <div class="input-group" style="width:100%">
                        <input type="text" class="form-control entityPropertySubtypeInput">
                        <span class="input-group-addon entityPropertyAddSubtype">Add</span>
                    </div>
                    <ul class="list-group entityPropertySubtypesAddList">

                    </ul>
                    <ul class="list-group entityPropertySubtypesList">

                    </ul>
                </div>
            </td>


        </tr>


    </table>






</div>