<div>
    <div class="form-group">


        <table style="width:100%">
            <tr>
                <td style="vertical-align: text-top;">
                    <div>Relations registered to Selected Entities</div>
                    <div class="relationPropertySmallList">
                        <ul class="list-group relationPropertyEntityRelationsList">

                        </ul>
                    </div>
                </td>
                <td style="vertical-align: text-top;">
                    <div>All the other Relations</div>
                    <div class="relationPropertySmallList">
                        <ul class="list-group relationPropertyAllRelationsList">


                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <div class="row placeholder">
            <button type="button" class="btn btn-primary pull-right relationPropertyBtnCancel">Cancel</button>
            <button type="button" class="btn btn-primary pull-right relationPropertyBtnApply">Apply</button>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Logical Name</span>
            <input type="text" class="form-control relationPropertyLogicalName" placeholder="Optional">
            <span class="input-group-addon">Name</span>
            <input type="text" class="form-control relationPropertyName">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Definition</span>
            <input type="text" class="form-control relationPropertyDef" placeholder="Optional">

        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Source</span>
            <input type="text" class="form-control relationPropertySource" placeholder="111">
            <span class="input-group-addon">Target</span>
            <input type="text" class="form-control relationPropertyTarget" placeholder="222">
        </div>
    </div>







</div>