{% macro debuginfo(self_) -%}
{% if config.DEBUG %}
<div style="text-align: right;">
<span style='font-size:11px; color: gray; background-color: #efefef;'>
{{ request.full_path }}
|
{{ request.endpoint }}
|
{{ self_._TemplateReference__context.name }}
|
{{ request.referrer }}
</span>
</div>
{% endif %}
{%- endmacro %}

{% macro modal_tmpl(id, portlet_reload=False) -%}
<!--DOC: Aplly "modal-cached" class after "modal" class to enable ajax content caching-->
<div class="modal fade" id="{{ id }}" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content portlet-wrapper">
            <div class="modal-body">
                <img src="/comp/static/assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                <span> &nbsp;&nbsp;Loading... </span>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
{% if portlet_reload %}
<script>
$('#{{ id }}').on('hidden.bs.modal', function (event) {
    var $portlet = $(this).closest('.portlet');
    $portlet.find('.portlet-title a.reload[data-load="true"]').click();
});
</script>
{% endif %}
{% endmacro %}