<div style="display:none" id="contents_privacy_policy_agree">
    Nexcore ER-C (이하 "Nexcore ER-C" 또는 “회사”)는 회원제 서비스를 관련 업무처리를 위해 최소한의 개인 정보만을 수집∙이용 하고자 합니다. 이에 하기 내용을 자세히 읽으신 후 동의 여부를 결정하여 주시기 바랍니다.

    <br>
    <br><span style="font-weight:bold;">■ 개인정보의 수집∙이용 동의 (필수 사항)
    <br>
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:250px;">수집∙이용 목적</th>
                    <th style="width:200px;">수집∙이용 항목</th>
                    <th>보유 기간</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>회원제 서비스 이용 및 회원 확인, 불량회원의 부정 이용방지와 비인가 사용 방지, 뉴스레터 제공, 가입 및 가입횟수 제한, 분쟁조정을 위한 기록 보존, 불량회원의 부정 이용 방지</td>
                    <td>이메일</td>
                    <td>서비스 탈퇴 시 즉시 삭제</td>
                </tr>
                <tr>
                    <td>서비스 이용에 대한 분석/통계, 서비스의 유효성 확인, 불법/부정이용 방지 등</td>
                    <td>생성정보(IP Address, 쿠키, 방문 일시, 검색 정보, 서비스 이용 기록)</td>
                    <td>3개월</td>
                </tr>
            </tbody>
        </table>

    <br>※ 위의 개인정보 수집∙이용에 대한 동의를 거부할 권리가 있습니다. 그러나 필수 정보에 대한 동의를 거부할 경우 서비스 제공이 제한될 수 있습니다.
    <br>
    <br>※ 회원 가입 시, "개인정보의 수집∙이용 동의서 에 동의합니다." 에 체크하면 상기 개인정보의 수집∙이용에 대한 동의 및 서명을 완료했음을 의미합니다.
</div>