<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">个人信息收集和利用同意书 </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
Nexcore ER-C (以下简称 “Nexcore ER-C" 或者 " 公司”) 为相关业务处理业务, 只想搜集和利用最低限度的个人信息. 对此请仔细审阅后再决定是否同意
            <br>
            <br><span style="font-weight:bold;">■ 个人信息搜集和利用 (必须事项)
            <br>
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:250px;"> 收藏或利用目的 </th>
                            <th style="width:200px;"> 收藏或利用项目 </th>
                            <th> 持有期间 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 会员制服务及会员确认, 防止不良会员利用不当行为和防止作弊, 提供新闻简报 , 加入或加入次数限制,  旨在调解纠纷的档案记录 , 防止不良会员 不正当利用 </td>
                            <td> 电子邮件 </td>
                            <td> 退出服务时立即删除 </td>
                        </tr>
                        <tr>
                            <td> 对服务的分析/ 统计数据 , 确认服务有效性 , 防止非法利用 等 </td>
                            <td> 创建信息 (IP Address, (网站发出的)文件, 连接日期 , 搜索信息框 , 服务使用记录)</td>
                            <td>3个月 </td>
                        </tr>
                    </tbody>
                </table>
            <br>※ 你们有权拒绝对上级的个人信息收集或利用的同意. 但是如果拒绝对必需信息的同意,提供服务也会受到限制
            <br>
            <br>※ 加入会员时,意味着对"同意个人信息收集和利用同意书签同意."的用户 ,意味着完成了对个人信息的收集和签名.
         </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Close</button>
</div>