{% if not project_group %}
{% if project and project.project_group %}
{% set project_group = project.project_group %}
{% else %}
{% set project_group = default_project_group %}
{% endif %}
{% endif %}

{% extends project_group.base_html %}


{% block script_head %}
<link href="/comp/static/assets/pages/css/error.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block page_title %}
{% endblock %}

{% block page_breadcrumb %}
{% endblock %}

{% block content %}
<div class="page-500">
	<div class=" number" style="text-align: center;">
		<p style="font-size:40px; line-height: 40px; letter-spacing: 0px; font-weight: bold; color: black;">
		 Oops!<br> You cannot reach this page.
		</p>
		<p style="font-size:20px; line-height:20px; letter-spacing: 0px;">
			Check your permission<br/>
			If you have any other problem, please contact us.<br/><br/>
		</p>
	</div>
	<div class=" details">
		<!-- <h3>Oops! You cannot reach this page.</h3> -->

		{% if g.sentry_event_id %}
		<p>The error identifier is {{ g.sentry_event_id }}</p>
		{% endif %}
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}