{% extends "login/_base.htm.j2" %}
{% set popup_id = 'passwdSetting'%}

{% block mainContent %}
        <div class="subDiv">
            <h5 class="title">비밀번호 재설정
                <span class="type2">비밀번호가 기억나지 않으세요?</span>
            </h5>
            <div class="loginDiv">
            <div class="infoDiv">비밀번호 재 설정을 위해<br />
            아래에 이메일 주소를 입력하시고 보내세요.</div>
            <form class="form-horizontal" action="{{ url_for('.forget_password') }}" method="post">
                <div class="form-group">
                    <label for="name" class="control-label">이메일
                        <span class="errMsg">이메일을 입력해 주세요.</span>
                    </label>
                    <div class="floatL">
                        <input type="text" id="email" name="email" class="form-control inputTxt w340" value="" placeholder="">
                    </div>
                </div>
                <div class="btnArea mt20">
                    <a href="#" class="btn medium red w140">메일 보내기</a>
                </div>
            </form>
            </div>
        </div>
        <ul class="menu type2">
            <li><a href="{{ url_for('portal.index') }}">메인</a></li>
            <li><a href="{{ url_for('login.signup') }}">회원 가입</a></li>
            <li><a href="{{ url_for('login.login') }}">로그인</a></li>
        </ul>
{% endblock %}