{% extends "login/_base.htm.j2" %}
{% set popup_id = 'passwdSetting'%}

{% block mainContent %}
        <div class="subDiv">
            <h5 class="title">비밀번호 재설정
                <span>새로운 비밀번호를 입력해 주세요.</span>
            </h5>
            <div class="loginDiv">
            <form class="form-horizontal" action="{{ url_for('login.password_verify', token=token) }}" method="post">
                <div class="form-group">
                    <label for="name" class="control-label">비밀번호
                        <span class="errMsg">비밀번호를 입력해 주세요.</span>
                    </label>
                    <div class="floatL">
                        <input type="password" name="password" class="form-control inputTxt w340" value="" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="control-label">비밀번호 재 입력
                        <span class="errMsg">비밀번호와 동일한 값을 입력해 주세요.</span>
                    </label>
                    <div class="floatL">
                        <input type="password" name="password_confirm" class="form-control inputTxt w340" value="" placeholder="">
                    </div>
                </div>
                <div class="btnArea alignR mt20">
                    <button type="submit" class="btn medium red w140">재 설정</button>
                </div>
            </form>
            </div>
        </div>
{% endblock %}