{% from '_form_helpers.html' import
    render_39field,
    render_39submit,
    render_39imgfield,
    render_39fieldlist
%}

{% extends "portlet-body.htm.j2" %}
{% block portlet_body %}
<form action="{{ url_for('login._change_password') }}" class="form-horizontal form-bordered" data-ajax="true" enctype="multipart/form-data" method="POST">
<div class="form-body">
    {{ render_39field(form.current_password, type='password') }}
    {{ render_39field(form.password, type='password') }}
    {{ render_39field(form.password_confirm, type='password', class_='last') }}
</div>
{{ render_39submit(cancel_url=url_for('login._profile')) }}
</form>
{% endblock %}
