{% import '_form_helpers.html' as macros %}

<form class="login-form" role="form">
    <div class="form-body">
        {{ macros.render_field(form.current_password, type='password') }}
        {{ macros.render_field(form.password, type='password') }}
        {{ macros.render_field(form.password_confirm, type='password') }}
    </div>
    <div class="form-actions">
        <button type="button" class="btn blue" id="password_submit">Submit</button>
        <button type="button" class="btn default" id="password_cancel">Cancel</button>
    </div>
</form>

<script>
$('#password_submit').click(function() {
    var formData = $(".login-form").serialize();
    $.ajax({
      type: "POST",
      url: "{{ url_for('login._change_password') }}",
      data: formData,
      success: function(resp){
            var p = $('.login-form').parent();
            p.empty();
            p.append(resp);
      },
      error:function(e){  
            var p = $('.login-form').parent();
            p.empty();
            p.append(e.responseText);

        },
      // dataType: "json",
      // contentType : "application/json"
    });
});
</script>
