{% extends "login/base.html" %}

{% block content %}


        <!-- BEGIN LOGIN FORM -->
        <form class="login-form">
			<h3 class="form-title">
				{{_('NEXCORE ER-C를 이용해주셔서 감사합니다.')}}
			</h3>
            <div class="create-account">
                <p>
					{{_('<b> %(email)s </b> 로 사용에 필요한 최종 확인링크가 전송되었습니다.
					해당 링크로 접속하시면 가입이 완료됩니다.', email=email)}}
                </p>
            </div>
            {% block flash %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger"><!-- display-hide -->
                        <button class="close" data-close="alert"></button>
                        <span>{{ message }}</span>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% endblock %}


        </form>
        <!-- END LOGIN FORM -->

{% endblock content %}