{% extends "login/base.html" %}
{% block content %}

        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="register-form" action="{{ url_for('login.password_verify', token=token) }}" method="post">
            <h3>{{_('비밀번호 초기화')}}</h3>
            <p>
                 {{_('새로운 비밀번호를 입력해주세요.')}} {% if debug %}{{ token }}{% endif %}
            </p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">{{_('비밀번호')}}</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class='form-control placeholder-no-fix' type="password" autocomplete="off" id="register_password" placeholder="Password" name="password">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">{{_('비밀번호 재입력')}}</label>
                <div class="controls">
                    <div class="input-icon">
                        <i class="fa fa-check"></i>
                        <input class='form-control placeholder-no-fix' type="password" autocomplete="off" id="register_password" placeholder="Password" name="password_confirm">
                    </div>
                </div>
            </div>
            <div class="form-actions">
<!--                 <button type="button" id="back-btn" class="btn" onclick="javascript:history.go(-1);">
                <i class="m-icon-swapleft"></i> Back </button> -->
                <button type="submit" class="btn blue">
                {{_('저장')}} <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->

{% endblock %}