<div id="join_request" class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title"><i class="fa fa-plus"></i> {{_('프로젝트 참여요청')}}</h4>
			</div>
			<form action="{{ url_for('project.join_request', project_id=project.id) }}" class="form-horizontal form-bordered" method="POST">
				<div class="modal-body">
					{{_('프로젝트 관리자(<b>%(email)s</b>)에게 메세지를 남길 수 있습니다.', email=project.owner.email)}}
					<div style="padding-top:10px; padding-bottom:10px; ">
						<textarea id='request_message' name='request_message' class="form-control autosizeme" rows="4" placeholder="프로젝트 참여 요청합니다."></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn red"><i class="fa fa-check"></i>{{_('보내기')}}</button>
					<button type="button" class="btn default" data-dismiss="modal">{{_('취소')}}</button>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
