{% extends 'project/_base.htm.j2' %}
{% set active_page = active_page -%}
{% from '_helpers.html' import debuginfo %}

{% block projectMainContent %}

{% for portlet in portlets %}
<!-- BEGIN PORTLET-->
{{ portlet.render() | safe }}
<!-- END PORTLET-->
{% endfor %}

{{ debuginfo(self) }}

{% endblock projectMainContent %}
